@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/*@layer utilities {
  .H1 {
    @apply text-[45px] font-normal leading-120;
  }

  .H1-bold {
    @apply text-[45px] font-bold leading-120;
  }

  .H2 {
  @apply text-[32px]
  }
} */
